/* Unloaded Tabs - Zen Browser Mod */
/* Changes opacity of unloaded/inactive tabs */

:root {
    --mod-unloaded_tabs-opacity-calc: calc(var(--mod-unloaded_tabs-opacity, 50) * 0.01);
}

.tabbrowser-tab[pending="true"] {
    opacity: var(--mod-unloaded_tabs-opacity-calc);
}

zen-folder
:not(:has(.tab-label-container-editing))
:not(:has(.tabbrowser-tab:not([pending="true"])))
:is(.tab-group-label, .tab-label-container, .tab-group-folder-icon) 
{
    opacity: var(--mod-unloaded_tabs-opacity-calc);
}